.scanner-container-top {
    height: 100%;
    width: 100%;
}

.scanner {
    position: relative;
    min-height: 330px;
    box-sizing: border-box;
    justify-self: center;
}

.video-card {
    background-color: #ffffff;
    border-radius: 4px;
    position: relative;
    /* top: 50%; */
    /* left: 50%; */
    overflow: hidden;
    /* transform: translate(-50%, -50%); */
    visibility: hidden;
    max-width: 640px;
    width: 100%;
    margin: 0;
    z-index: 1000000;
}

.video-card.show {
    visibility: visible;
}

#video canvas {
    display: none !important;
}

#video video {
    visibility: hidden;
    opacity: 0;
    width: 100%;
    top: 0rem;
    left: 0rem;
    transition-delay: .25s;
}

.video-card.show * {
    opacity: 1 !important;
    visibility: visible !important;
}

.video-footer {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    padding: .5rem;
    background-color: #fff;
}

.video-footer-title {
    align-items: center;
    display: flex;
    font-size: 16px;
    margin-right: auto;
    margin-left: 1rem;
}

.loading-message {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    transition-delay: 0;
    width: 100%;
    z-index: -1;
}

@media (max-width: 600px) {
    .video-card {
        border-radius: 0px;
        margin: 3rem auto;
        position: relative;
    }
}