.submit-btn {
    margin-top: 1rem !important;
}

.doc-number-field {
    align-items: flex-start;
    display: flex;
    margin-top: 24px;
    /* for submit button not to bounce */
    min-height: 45px;
}

.doc-types-tabs i.fas {
    font-size: 20px;
}

.doc-number-field input {
    padding: 6px 4px 6px;
}

.print-btn {
    align-self: flex-end;
}

@media (max-width: 600px) {
    .doc-picker {
        display: block;
        width: 100%;
    }
}
