.submit-btn {
    margin-top: 1rem !important;
}

.doc-picker {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.input.doc-number {
    /* margin-top: 1.5rem; */
}
.doc-number-field {
    align-items: flex-start;
    display: flex;
    /* margin-top: 24px; */

}

.doc-number-field input {
    padding: 6px 4px 6px;
}

.print-btn {
    align-self: flex-end;
}

@media (max-width: 600px) {
    .doc-picker {
        display: block;
    }
}

