.hero-container {
    width: 40%;
    transition: .42s ease-in-out;
}

#hero {
    margin-top: 5rem;
    width: 400px;    
}

.hero-container.move-right {
    /* transform: translate(350px) skew(5deg); */
}

@media (max-width: 600px) {
    #hero {
        margin-top: 0;
        width: 320px;
    }
    .hero-container {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
    }

}