.hero-container {
    width: 40%;
    transition: .42s ease-in-out;
}

#hero {
    margin-top: 5rem;
    width: 400px;    
}

.hero-container.move-right {
    /* transform: translate(350px) skew(5deg); */
}

@media (max-width: 960px) {
    .hero-container {
        display: none;
    }
}
