.printer {
    align-items: center;
    border-radius: 30px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 1rem;
    margin-bottom: 1rem;
}

.printer:hover {
    background-color: #eee;
}

.printer.picked {
    background-color: #2196f3;
    color: #fff;
}