header {
    align-items: center;
    background-color: transparent;
    display: flex !important;
    justify-content: space-between;
    height: 64px;
    padding: 0.25rem 5rem;
}

header .logo {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
    padding: 0.25rem;
}

header .logo img {
    height: 100%;
    margin-right: 8px;
}
header .title {
    font-weight: 500;
}
header .app-menu {
    display: flex;
    align-items: center;
}
header .app-menu-btn {
    align-items: center;
    display: flex;
    font-weight: normal !important;
}

a,
a:visited,
a:hover {
    text-decoration: none;
    color: inherit;
}

@media (max-width: 600px) {
    header {
        align-items: center;
        justify-content: flex-end;
        height: 56px;
        padding: 0.25rem 1rem;
    }

    header .structural-unit {
        display: none;
    }
}
