.iziToast>.iziToast-body {
    padding-left: 12px !important;
    margin-left: 0;
    position: relative;
    height: auto;
    min-height: 36px;
    text-align: left;
    display: flex;
    align-items: center;
}

.iziToast>.iziToast-body .iziToast-icon {
    position: static;
    display: table;
    font-size: 26px;
    line-height: 24px;
    color: #000;
    margin-right: 10px;
    margin-top: 0px;
}