
/* #video.show * {
  opacity: 1;
  visibility: visible;
} */

.student-finder {
  min-height: 50px;
  transition: .3s ease-in-out;
}
.student-finder.showVideo {
  min-height: 418px;

}
.row {
  /* display: flex;
  flex-direction: row;
  justify-content: flex-start; */
}
/* .student-finder > form {
  align-items: flex-start;
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-direction: row;
  justify-content: space-between;
  justify-items: center
} */
.scan-btn {
  margin-top: 28px !important;
  justify-self: flex-end;
}
.search-btn {
  margin-top: 1rem !important;
  /* float: right; */
}
.student-by-name-finder {
  /* margin-top: 1rem; */
  /* display: flex; */
}
.student-by-name-finder .input {
  margin-bottom: 1rem;
}
.cancel-scan-btn {
  font-size: 48px;
  visibility: hidden;
  opacity: 0;
  position: absolute !important;
  bottom: 1rem;
  right: 1rem;
  z-index: 1000;
}
.cancel-scan-btn svg {
  font-size: 48px;
  
}
