.scanner-container-top {
  height: 100%;
  width: 100%;
}
#video.show * {
  opacity: 1;
  visibility: visible;
  /* box-shadow: 0 2px 3px rgba(0,0,0,0.18); */
}

.student-finder {
  /* min-height: 418px; */
}
.row {
  /* display: flex;
  flex-direction: row;
  justify-content: flex-start; */
}
.student-finder > form {
  align-items: flex-start;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* flex-direction: row; */
  /* justify-content: space-between; */
  /* justify-items: center */
}
.scan-btn {
  margin-top: 20px !important;
  justify-self: flex-end;
}
.search-btn {
  float: right;
}
.student-by-name-finder .input {
  margin-bottom: 1rem;
}
.cancel-scan-btn {
  font-size: 48px;
  visibility: hidden;
  opacity: 0;
  position: absolute !important;
  bottom: 1rem;
  right: 1rem;
  z-index: 1000;
}
.cancel-scan-btn svg {
  font-size: 48px;
  
}
