.scanner-container-top {
  height: 100%;
  width: 100%;
}
#video.show * {
  opacity: 1;
  visibility: visible;
  /* box-shadow: 0 2px 3px rgba(0,0,0,0.18); */
}

.student-finder {
  min-height: 418px;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.cancel-scan-btn {
  font-size: 48px;
  visibility: hidden;
  opacity: 0;
  position: absolute !important;
  bottom: 1rem;
  right: 1rem;
  z-index: 1000;
}
.cancel-scan-btn svg {
  font-size: 48px;
  
}
