.submit-btn {
    margin-top: 1rem !important;
}

.doc-picker {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.input.doc-number {
    /* margin-top: 1.5rem; */
}
.doc-number-field {
    align-items: flex-start;
    display: flex;
    margin-top: 1.5rem;

}

