.scanner-container-top {
    height: 100%;
    width: 100%;
}

.scanner {
    position: relative;
    min-height: 330px;
    box-sizing: border-box;
    justify-self: center;
}

.video-card {
    background-color: #ffffff;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    transform: translate(-50%, -50%);
    visibility: hidden;
}

.video-card.show {
    visibility: visible;
}

#video canvas {
    display: none !important;
}

#video video {
    visibility: hidden;
    opacity: 0;
    width: 100%;
    top: 0rem;
    left: 0rem;
    transition-delay: .25s;
}

.video-card.show * {
    opacity: 1 !important;
    visibility: visible !important;
}

.card-actions {
    padding: .5rem;
    display: flex;
    justify-content: flex-end;
}