.student-finder {
    min-height: 50px;
    transition: 0.3s ease-in-out;
}

.student-finder.showVideo {
    min-height: 418px;
}

.scan-btn {
    margin-top: 28px !important;
    justify-self: flex-end;
}

.student-by-name-finder {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.student-by-name-finder .input {
    margin-bottom: 1rem;
}

.cancel-scan-btn {
    font-size: 48px;
    visibility: hidden;
    opacity: 0;
    position: absolute !important;
    bottom: 1rem;
    right: 1rem;
    z-index: 1000;
}

.cancel-scan-btn svg {
    font-size: 48px;
}

@media (max-width: 600px) {
    .student-by-name-finder {
        align-items: flex-end;
        min-width: 0;
    }
    .card .card-block {
        min-width: 0;
    }
}