* {
  box-sizing: border-box;
}
html, body {
  height: 100%;
}
body {
  background-color: #f7f7f7 !important;
  color: #626262;
  font-family: 'Proxima Nova', 'Roboto', sans-serif;
  font-weight: 400;
  max-height: 100%;
}
#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
audio {
  display: none;
}
.show {
  visibility: visible !important;
  opacity: 1 !important;
}
.hide {
  display: none !important;
  /* visibility: hidden !important;
  opacity: 0 !important; */
}
img {
  user-select: none;
}



/* overriding global ANTD styles */

p { 
  margin-bottom: 0px;
}

footer {
  display: flex !important;
}
