.election-heading {
    font-size: 1.8em;
    margin-bottom: 1.5rem;
}

.election-text {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.new-session-container {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.hero-container {
    width: 400px;
    transition: .42s ease-in-out;
}

/* .new-session-card {
    padding: 1rem;
} */

.logo-container {
    display: flex;
    justify-content: center;
}

.logo-container .logo {
    height: 100px;
    width: 100px;
}

#hero {
    width: 100%;
}

.hero-container.move-right {
    /* transform: translate(350px) skew(5deg); */
}

@media (max-width: 600px) {
    .election-heading {
        font-size: 1.5em;
    }
    .election-text {
        font-size: 1em;
    }

    .hero-container {
        width: 300px;
    }
}